certifi==2020.12.5
chardet==3.0.4
greenlet==1.0.0
holster==2.0.0
idna==2.6
numpy==1.20.1
pandas==1.2.2
progressbar==2.5
python-dateutil==2.8.1
pytz==2021.1
requests==2.18.4
six==1.11.0
tqdm==4.57.0
urllib3==1.22
websocket-client==0.44.0

pip~=21.0.1
setuptools~=53.0.0
lxml~=4.6.2
warcio~=1.7.4
fasttext~=0.9.2
ftfy~=5.9